@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Fundo #050505 (Preto Profundo) e Texto Neutral-400 (Cinza Médio) */
    @apply bg-[#050505] text-neutral-400 font-mono antialiased selection:bg-neutral-800 selection:text-white;
    
    /* Grid Tático MUITO sutil (quase invisível) */
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  /* Títulos: Neutral-200 (Branco Gelo/Cinza Claro) em vez de White puro */
  h1, h2, h3, h4, h5, h6 {
    @apply text-neutral-200 font-bold uppercase tracking-tighter;
  }
  
  a {
    @apply transition-colors duration-200;
  }
}

/* Scrollbar Dark */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-justify {
  text-align: justify;
}
/* Classes utilitárias para imagens em markdown */
.article-content img {
  border: 1px solid #262626;
  background-color: #0a0a0a;
  padding: 10px;
  filter: grayscale(20%);
}